.DS_Store
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
*.ipynb_checkpoints
q1/data/*

## */data/*
*/__pycache__/
__pycache__/
*.zip
*.eps
*.h5
## *.csv 
*.feather
*.json
*.pyc
*.npy
*.yaml
*.0
*/tb_logs/
*.ckpt
*.DS_Store
*.ini
